@model Identity.API.ViewModels.LoginViewModel

@*<div class="login-page">*@
    @*<div class="page-header">
            <h1>Login</h1>
        </div>*@

    @Html.PartialAsync("_ValidationSummary")

    <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <div class="panel panel-default">
                    @*<div class="panel-heading">
                            <h3 class="panel-title">User Login</h3>
                        </div>*@
                    <div class="panel-body">
                        <form asp-route="forgotpassword">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group">
                                    <h3>Forgot Password</h3>
                                </div>
                                <div class="form-group">

                                    <input class="form-control" placeholder="Enter Email Address" asp-for="Email" autofocus>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6 text-left">
                                        <button class="btn" style="color:white; background-color:red ;margin-top:20px" asp-action="RegisterUser"
                                           asp-controller="UserRegistration"
                                           asp-route-returnUrl="@Model.ReturnUrl">
                                            Back To Login
                                        </button>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <button class="btn"style="margin-top: 20px"  asp-action="ForgotUser"
                                           asp-controller="UserRegistration"
                                           asp-route-returnUrl="@Model.ReturnUrl">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
    </div>

