<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/images/paroexchange1.png">
                <div>
                    <p >Welcome to ParoExchange</p>
                </div>
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">here</a> to manage your stored grants.
            </p>
        </div>
 </div>
    

