<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            
                <img class="icon" src="~/images/paroexchange1.png">
                <div>
                    <h1 >Welcome to ParoExchange</h1>
                </div>
                @*<small>(build {version})</small>*@
            
        </div>
    </div>

    
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">here</a> to manage your stored grants.
            </p>
        </div>
 </div>
    

